main {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#form_update_remember label {
    font-weight: 600;
}

#map {
    display: block;
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#map yamaps {
    display: block;
}