main {
    background-color: lightblue;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

#header {
    background: gold;
}

#btn_logout i {
    font-size: 30px;
}

#remembers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 25px;
}

#btn_add {
    margin-top: 20px;
    font-weight: 600;
}