{% extends 'layout.html' %}
{% load static %}

{% block title %} Мои воспоминания {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "myPlaceRemember/css/style.css" %}">
{% endblock %}

{% block main %}
    <main>
        {% include 'myPlaceRemember/header.html' %}
        <div class="container mt-5 pb-5" id="content">
            <div class="container" id="remembers">
                {% if remembers %}
                    {% for remember in remembers %}
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">{{ remember.title }}</h5>
                                <p class="card-text">{{ remember.body }}</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>У вас нет ни одного воспоминания</h3>
                {% endif %}
            </div>
            <a class="btn btn-success btn-lg mt-5" id="btn_add" href="{% url 'create_remember' %}">
                Добавить воспоминание
            </a>
        </div>
    </main>
{% endblock %}