{% extends 'layout.html' %}
{% load static %}

{% block title %} {{ remember.title|title }} {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static "myPlaceRemember/css/style_remember_detail.css" %}">
    <link rel="stylesheet" href="{% static "myPlaceRemember/css/style_header.css" %}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=cc5e87e9-573c-402a-ae9e-abba66a9f92d&lang=ru_RU"
            type="text/javascript"></script>
    <script src="{% static 'myPlaceRemember/js/yamapAPIShowLocation.js' %}" type="text/javascript"></script>
{% endblock %}

{% block main %}
    <main>
        {% include 'myPlaceRemember/header.html' %}
        <div class="container pb-5 mt-5" id="content">
            <div class="card col-12 col-lg-6">
                <div id="map" class="card-img-top"></div>
                <div class="card-body">
                    <h4 class="card-title mb-0">{{ remember.title|title }}</h4>
                    <p class="card-text">
                        <small id="remember_location">{{ remember.location }}</small>
                    </p>
                    <p class="card-text">{{ remember.body }}</p>
                </div>
            </div>
            <div class="container col-12 col-lg-6" id="remember_btns">
                <a href="{{ remember.get_absolute_update_url }}" class="btn btn-primary" id="btn_edit">
                    Редактировать
                </a>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal_confirm">Удалить</button>
            </div>
        </div>
    </main>

    <div class="modal fade" id="modal_confirm" tabindex="-1" aria-labelledby="modal_confirm_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удалить воспоминание?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <a href="{{ remember.get_absolute_delete_url }}" class="btn btn-danger">Да</a>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}